<div class="container">
	<h1 class="page-header">Contact Us</h1>
	<div class="row">

		<div class="col-xs-12 col-sm-5">
			<h3>Ramandeep Bhagat</h3>
			<h3>Web developer</h3>

			<div class="row">
				
				<div class="col-xs-12 col-sm-12">

			    	<p> 
		                <a [href]="linkedIn" target="_blank">
		                	<i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
		                </a>  
		                <a [href]="github" target="_blank">
		                	<i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
		                </a>
		            </p>

				</div>

			</div>
			
		</div>

		<div class="col-sm-7 hidden-xs">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14028.920000705197!2d77.03634773192961!3d28.472619269696683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19b2668b71e3%3A0xe4ba6a0849b01c0a!2sSector+14%2C+Gurugram%2C+Haryana+122022!5e0!3m2!1sen!2sin!4v1488012291803" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>

		<div class="col-xs-12 hidden-sm hidden-md hidden-lg ">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14028.920000705197!2d77.03634773192961!3d28.472619269696683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19b2668b71e3%3A0xe4ba6a0849b01c0a!2sSector+14%2C+Gurugram%2C+Haryana+122022!5e0!3m2!1sen!2sin!4v1488014804146" width="320" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>