<div class="container">

	<h1 class="myLoader" data-text="It's loading…" *ngIf="loader">It's loading…</h1>

  <div [hidden]="submitted">

  		<h1 class="page-header">Add Movie</h1>

		<form [formGroup]="addMovieForm" (submit)="onSubmit( $event )" enctype="multipart/form-data">

			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" id="title" class="form-control" formControlName="title" placeholder="Enter title" required />

				<div *ngIf="formErrors?.title" class="alert alert-danger">
				  {{ formErrors?.title }}
				</div>

			</div>

			<div class="form-group">
				<label for="year">Year</label>
				<input type="text" id="year" class="form-control" formControlName="year" required placeholder="Enter year" />

				<div *ngIf="formErrors?.year" class="alert alert-danger">
				  {{ formErrors?.year }}
				</div>

			</div>

			<div class="form-group">

				<label for="description">Description</label>
				<textarea type="text" id="description" class="form-control" formControlName="description" required ></textarea>

				<div *ngIf="formErrors?.description" class="alert alert-danger">
				  {{ formErrors?.description }}
				</div>

			</div>

			<div class="form-group">
				<label for="poster">Poster</label>
				<input id="poster" type="file" class="form-control" formControlName="poster" (change)="onFileChange($event)">
			</div>

			<div formArrayName="actors">

				<label for="actors">Characters</label>

				<div class="form-group" *ngFor="let actor of actors.controls; let i=index">

					<input type="text" [id]="i" class="form-control" [formControlName]="i" required placeholder="Enter name" />

					<div *ngIf="formErrors?.actors" class="alert alert-danger">
					  {{ formErrors?.actors }}
					</div>

				</div>

				<div class="form-group">
		          <a (click)="addActors()" style="cursor: default">
		            Add another actor +
		          </a>
		        </div>

	        </div>

			<button type="submit" class="btn btn-primary" [disabled]="!addMovieForm.valid">Submit</button>

		</form>

	</div>
</div>